In [1]:
# If you are unable to import some of the libaries below, 
# you can create a conda environment by running: conda env create -f environment.yml
# The name of the generated environment is: cs159-final-project

# import necessary libraries
import pandas as pd
import numpy as np
import keras
import os

# import our NNet library (within scikit-learn)
from sklearn.neural_network import MLPClassifier

In [2]:
# Formatting the input files for BERT to process and produce output
ORIGINAL_DATA_DIR = os.path.join("./input_files")
BERT_FEATURE_DIR = os.path.join("./output_files")
BERT_DATA_DIR = os.path.join("./BERT_DATA_DIR")

We are only doing single feature text classification for this part, so create updated csvs for training and validation that only contains the columns: 'Body' and 'Y'

In [3]:
# Setting up pandas dataframes
train_df = pd.read_csv(os.path.join(BERT_DATA_DIR, "train.csv"))
validate_df = pd.read_csv(os.path.join(BERT_DATA_DIR, "valid.csv"))

# Only keep 'Body' and 'Y' for training
cleaned_train_df = train_df[['Body', 'Y']]

# Only keep 'Body' and 'Y' for validation
cleaned_validate_df = validate_df[['Body', 'Y']]

# Make sure the dataframes are correct
cleaned_train_df.info()
cleaned_validate_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45000 entries, 0 to 44999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Body    45000 non-null  object
 1   Y       45000 non-null  object
dtypes: object(2)
memory usage: 703.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Body    15000 non-null  object
 1   Y       15000 non-null  object
dtypes: object(2)
memory usage: 234.5+ KB

In [4]:
# Convert both train and valid dataframes back to csvs and export them both to ORIGINAL_DATA_DIR and BERT_DATA_DIR
cleaned_train_df.to_csv(os.path.join(ORIGINAL_DATA_DIR, "bert_classification_train.csv"), header=0, index="FALSE")
cleaned_train_df.to_csv(os.path.join(BERT_DATA_DIR, "bert_classification_train.csv"), header=0, index="FALSE")

cleaned_validate_df.to_csv(os.path.join(ORIGINAL_DATA_DIR, "bert_classification_valid.csv"), header=0, index="FALSE")
cleaned_validate_df.to_csv(os.path.join(BERT_DATA_DIR, "bert_classification_valid.csv"), header=0, index="FALSE")

In [7]:
# Remove the Y column from the cleaned_train_df to prepare to apply BERT
train_df = cleaned_train_df.drop(['Y'], axis=1)
# Convert dataframe back to csv
train_df.to_csv(os.path.join(ORIGINAL_DATA_DIR, "bert_classification_train.csv"), header=0, index="FALSE")

train_df.head()

                                                Body
0  <p>I'm already familiar with repeating tasks e...
1  <p>I'd like to understand why Java 8 Optionals...
2  <p>I am attempting to overlay a title over an ...
3  <p>The question is very simple, but I just cou...
4  <p>I'm using custom floatingactionmenu. I need...

In [6]:
# Verifying that the original cleaned_train_df still has Y column
cleaned_train_df.head()

                                                Body         Y
0  <p>I'm already familiar with repeating tasks e...  LQ_CLOSE
1  <p>I'd like to understand why Java 8 Optionals...        HQ
2  <p>I am attempting to overlay a title over an ...        HQ
3  <p>The question is very simple, but I just cou...        HQ
4  <p>I'm using custom floatingactionmenu. I need...        HQ