In [27]:
import pandas as pd
import numpy as np

In [7]:
train = pd.read_csv("./BERT_DATA_DIR/train.csv")
valid = pd.read_csv("./BERT_DATA_DIR/valid.csv")

In [8]:
train.head()

,Id,Title,Body,Tags,CreationDate,Y
0,34552656,Java: Repeat Task Every Random Seconds,<p>I'm already familiar with repeating tasks e...,<java><repeat>,2016-01-01 00:21:59,LQ_CLOSE
1,34553034,Why are Java Optionals immutable?,<p>I'd like to understand why Java 8 Optionals...,<java><optional>,2016-01-01 02:03:20,HQ
2,34553174,Text Overlay Image with Darkened Opacity React...,<p>I am attempting to overlay a title over an ...,<javascript><image><overlay><react-native><opa...,2016-01-01 02:48:24,HQ
3,34553318,Why ternary operator in swift is so picky?,"<p>The question is very simple, but I just cou...",<swift><operators><whitespace><ternary-operato...,2016-01-01 03:30:17,HQ
4,34553755,hide/show fab with scale animation,<p>I'm using custom floatingactionmenu. I need...,<android><material-design><floating-action-but...,2016-01-01 05:21:48,HQ

In [9]:
valid.head()

,Id,Title,Body,Tags,CreationDate,Y
0,34552974,How to get all the child records from differen...,I am having 4 different tables like \r\nselect...,<sql><sql-server>,2016-01-01 01:44:52,LQ_EDIT
1,34554721,Retrieve all except some data of the another t...,I have two table m_master and tbl_appointment\...,<php><mysql><sql><codeigniter><mysqli>,2016-01-01 08:43:50,LQ_EDIT
2,34555135,Pandas: read_html,<p>I'm trying to extract US states from wiki U...,<python><pandas>,2016-01-01 09:55:22,HQ
3,34555448,Reader Always gimme NULL,"I'm so new to C#, I wanna make an application ...",<sql-server><c#-4.0>,2016-01-01 10:43:45,LQ_EDIT
4,34555752,php rearrange array elements based on condition,basically i have this array:\r\n\r\n array(...,<php>,2016-01-01 11:34:09,LQ_EDIT

In [10]:
list_body = []
for content in train["Body"]:
    list_body.append(content)

In [11]:
list_body[59]

'<p>I\'m sure this is simple but cant find the answer.</p>\n\n<p>There is a standard Jekyll/Liquid post iterator. How do i use the <code>{% if %}</code> statement below to put the <code>&lt;hr&gt;</code> element for each post <strong>except</strong> the last?</p>\n\n<pre><code>&lt;ul class="post-list"&gt;\n    {% for post in site.posts %}\n      {% if post.url %}\n      &lt;br&gt;\n        &lt;li&gt;\n          &lt;h2&gt;\n            &lt;a class="post-link" href="{{ post.url | prepend: site.baseurl }}"&gt;{{ post.title }}&lt;/a&gt;\n          &lt;/h2&gt;\n          &lt;span class="post-meta"&gt;{{ post.date | date: "%b %-d, %Y" }}&lt;/span&gt;\n        &lt;/li&gt;\n\n        **** {% if post != $last %} ***** How do i do this??\n          &lt;hr&gt;\n        {% endif %}\n      {% endif %}\n    {% endfor %}\n  &lt;/ul&gt;\n</code></pre>\n'

In [37]:
### Text Classification
train_mod_df = train
val_mod_df = valid

In [38]:
train_mod_df = train_mod_df.drop(columns=['Title', 'Tags', 'CreationDate'])

In [39]:
pd.unique(train_mod_df["Y"])

[LQ_CLOSE, HQ, LQ_EDIT]
Categories (3, object): [LQ_CLOSE, HQ, LQ_EDIT]

In [40]:
train_mod_df.Y = pd.Categorical(train_mod_df.Y)

In [45]:
train_mod_df['Y_cat_code'] = train_mod_df.Y.cat.codes

In [48]:
train_mod_df.head(20)

,Id,Body,Y,Y_cat_code
0,34552656,<p>I'm already familiar with repeating tasks e...,LQ_CLOSE,1
1,34553034,<p>I'd like to understand why Java 8 Optionals...,HQ,0
2,34553174,<p>I am attempting to overlay a title over an ...,HQ,0
3,34553318,"<p>The question is very simple, but I just cou...",HQ,0
4,34553755,<p>I'm using custom floatingactionmenu. I need...,HQ,0
5,34554026,<p>I have defined integer pointer inside the s...,LQ_CLOSE,1
6,34554206,"i want to Disable 2nd Saturday 4th saturday,...",LQ_EDIT,2
7,34554671,I am new to bootstrap and i would like to find...,LQ_EDIT,2
8,34554871,<p>I was able to change theme using <code>this...,HQ,0
9,34554982,I my case I am having two form Form 1 and Form...,LQ_EDIT,2
10,34555603,<p>I am new to Ubuntu (Linux tbh). I encounter...,HQ,0
11,34555643,"<p>I am kinda new to Android development, but ...",LQ_CLOSE,1
12,34556569,I have a UIlabel linked to a property that can...,LQ_EDIT,2
13,34556906,\r\nmy code here\r\n\r\n #include <stdi...,LQ_EDIT,2
14,34556991,<p>My podfile was working but after updating t...,HQ,0
15,34558002,<p>I'm trying to use stack to load my test-sui...,HQ,0
16,34558390,<p>Now that I've learned Swift (to a reasonabl...,HQ,0
17,34558996,<p>I am trying to deploy an application versio...,HQ,0
18,34559058,I am currently starting to learn C++ via Ardui...,LQ_EDIT,2
19,34559458,<p>What is the difference between bluebird.js ...,HQ,0

In [47]:
train_mod_df = train_mod_df.drop(columns=['code'])